<!-- templates/home.html -->
{% extends 'master.html' %}
{% block title%}Home pages{% endblock %}
{% block content %}

  {% for x in all_post %}
<!--    <div class="post-entry">
      <h4><a href="{% url 'post_detail' x.id %}">{{ x.title }}</a></h4>
      <p>{{ x.body }}</p>
    </div>
-->
    <div class="bg-light p-2 rounded">
      <h2>{{ x.title }}</h2>
      <p class="">{{ x.body }}</p>
      <p align="left">
        <a class="btn-sm btn-success" href="{% url 'post_detail' x.id %}" role="button">Details &raquo;</a>
      </p>
    </div>
    <p></p>
    {% endfor %}
{% endblock %}