<!-- templates/home.html -->
{% extends 'master.html' %}
{% block title%}Home pages{% endblock %}
{% block content %}
  {% for x in all_post reversed %}
  <div class="bg-light mb-3 p-2 rounded-5">
    <h3><a style="text-decoration: none;" href="{% url 'post_detail' x.id %}">{{x.title|title}}</a></h3>
    <p class="">{{x.body|truncatechars_html:280|safe}}</p>
    <p align="left">
      <a class="btn-sm btn-success" href="{% url 'post_detail' x.id %}" role="button">Details &raquo;</a>
    </p>
  </div>
  {% endfor %}
{% endblock %}