{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <link rel="stylesheet" href="{% static 'css/base.css' %}">  -->
    <link rel="stylesheet" href="{% static 'css/sidebars.css' %}">
    <title>{% block title %}{% endblock %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<body>
    <header class="p-3 bg-dark">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">My Blog</a>
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            {% if user.is_authenticated %}
            <li><a href="{% url 'profile' %}" class="nav-link px-2 text-secondary">Profile</a></li>
            <li><a href="#" class="nav-link px-2 text-secondary dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">Accounts</a>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="{% url 'password_change' %}">Change Password</a></li>
                <li><a class="dropdown-item" href="{% url 'password_reset' %}">Reset Password</a></li>
                {% if user.is_superuser %}
                <li><a class="dropdown-item" href="/admin">Admin Panel</a></li>
                {% endif %}
              </ul>
            </li>
            {% endif %}
            <li><a href="{% url 'about' %}" class="nav-link px-2 text-secondary">About</a></li>
          </ul>
  
          <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search" action="{% url 'search' %}" method="get" >
            <input type="text" name="q" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
          </form>
  
          <div class="text-end">
            {% if user.is_anonymous %}
            <a href="{% url 'login' %}" role="button" class="btn btn-outline-light me-2">Login</a>
            <a href="{% url 'sign_up' %}" role="button" class="btn btn-warning">Sign-up</a>
            {% else %}
            <a href="{% url 'logout' %}" role="button" class="btn btn-outline-light me-2">Logout</a>
            {% endif %}
          </div>
        </div>
      </div>
    </header>
<div class="container">
  <div class="row">
    <div class="col-md-2 border border-light bg-white">
      {% if user.is_authenticated %}
      <div>
        <p align="center">Hi, <strong>{{user.username}}</strong>!</p>
        <p align="center"><img src="{{MEDIA_URL}}{{user.avatar}}" class="img-thumbnail rounded-circle border-0" alt=""></p>
      </div>
      {% endif %}
      <div class="m-1 p-2 bg-secondary rounded-3 text-white">Main</div>
      <ul class="list-unstyled ps-0">
              <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
                  Home
                </button>
                <div class="collapse show" id="home-collapse">
                  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1">
                    <li><a href="{% url 'home' %}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Main Pages</a></li>
                    <li><a href="{% url 'post_new' %}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">News Post</a></li>
                  </ul>
                </div>
              </li>
  {% for category in all_category %}
    <div class="p-2 bg-secondary rounded-3 text-white">{{category.name}}</div>
      {% for sub in category.subcategory_set.all %}
        {% if sub.post_set.all.count > 0 %}
          <p class="m-0">
            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#{{ sub.category|slugify }}-collapse" aria-expanded="true">
            {{ sub.category }}<span class="small text-muted">({{sub.post_set.all.count}})</span>
            </button>
          </p>
        {% endif %}
        <div class="collapse show" id="{{ sub.category|slugify }}-collapse">
        <ul>
        {% for post in sub.post_set.all %}
          <p class="m-0"><li><a href="{% url 'post_detail' post.id %}" class="small"> {{post.title|title}}</a></li></p>
        {% endfor %}
        </ul>
        </div>
      {% endfor %}
  {% endfor %}
      </ul>
    </div>
    <div class="col-md-10">
        {% block content %}
        {% endblock %}
    </div>
  </div>
</div>
</body>
</html>