{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidebars.css' %}">
    <title>{% block title %}{% endblock %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <header class="p-3 bg-dark">
        <!--        <div class="nav-left">
            <h1><a href="{% url 'home' %}" > My Blog</a></h1>
        </div>
        <div class="">
            {% if user.is_authenticated %}
                <p>hi {{ user.username }}!</p>
                <a href="{% url 'logout' %}">Log out</a>
            {% else %}
                <p>You are not logged in.</p>
            {% endif %}
        </div>
    -->
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">My Blog</a>
  
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
            <li><a href="#" class="nav-link px-2 text-white">Features</a></li>
            <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
            <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
            <li><a href="#" class="nav-link px-2 text-white">About</a></li>
          </ul>
  
          <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search" action="{% url 'search' %}" method="get" >
            <input type="text" name="q" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
          </form>
  
          <div class="text-end">
            {% if user.is_anonymous %}
            <a href="{% url 'login' %}" role="button" class="btn btn-outline-light me-2">Login</a>
            <a href="{% url 'sign_up' %}" role="button" class="btn btn-warning">Sign-up</a>
            {% else %}
            <a href="{% url 'logout' %}" role="button" class="btn btn-outline-light me-2">Logout</a>
            {% endif %}
          </div>
        </div>
      </div>
    </header>
<div class="row">
    <div class="col-md-2">
            <ul class="list-unstyled ps-0">
              <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
                  Home
                </button>
                <div class="collapse" id="home-collapse">
                  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1">
                    <li><a href="{% url 'home' %}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Main Pages</a></li>
                    <li><a href="{% url 'post_new' %}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">News Post</a></li>
                  </ul>
                </div>
              </li>
              <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
                  Account
                </button>
                <div class="collapse show" id="account-collapse">
                  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1">
                    {% if user.is_anonymous %}
                    <li><a href="{% url 'login' %}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Login</a></li>
                    <li><a href="{% url 'sign_up' %}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Sign up</a></li>
                    {% else %}
                    <li><a href="{% url 'password_change' %}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Password Change</a></li>
                    <li><a href="{% url 'password_reset' %}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Password Reset</a></li>
                    {% endif %}
                    {% if user.is_superuser %}
                    <li><a href="/admin" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Admin Panel</a></li>
                    {% endif %}   
                  </ul>
                </div>
              </li>
            </ul>
    </div>
    <div class="col-md-10">
        {% block content %}
        {% endblock %}
    </div>
<!--    <div class="col-md-2">
        
    </div>
-->
</div>
</body>
</html>