<!-- templates/home.html -->
{% extends 'master.html' %}
{% block title%}Blog Post{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="">
      <h1>{{post.title|title}}</h1>
      <p class="">{{post.body|safe}}</p>
      <hr>
      {% for x in comments %}
      <figure>
        <blockquote class="blockquote-footer">
          Author: <cite title="Source Title">{{x.author}}</cite>
        </blockquote>
        <figcaption class="blockquote">
          <small><em>{{x.body|safe}}</em></small>
        </figcaption>
      </figure>
      <hr>
      {% endfor %}
      <form action="" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        {{ form.media }}
        <p>
          <input class="btn btn-success" type="submit" value="Comment">
          {% if request.user == post.author %}
          <a class="btn btn-success" role="button" href="{% url 'post_update' post.id %}">Update</a>
          <a class="btn btn-success" role="button" href="{% url 'post_delete' post.id %}">Delete</a>
          {% endif %}
        </p>
      </form>
    </div>
{% endblock %}